<a href="https://colab.research.google.com/github/KAVIARASU0505/Python/blob/main/Day6/Day6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
class Animal:
  def fun(self,name):
    print("The name of the animal is",name)
  def __fun1(self,name):
    print("The name of the animal is",name)
class Animal1:
  def newone(self,name):
     print("The name of the animal1 is",name)
class Animal2:
  def newone2(self,name):
     print("The name of the animal2 is",name)
class Derived(Animal,Animal1,Animal2):
     def action(self,a,b):
      return a+b
d=Derived()
d.__fun1("Name") #====>It will show error as not defined __Function

The name of the animal is Name

In [ ]:
class Animal:
  __privatevariable="20 Years"
  def __fun1(self,name):
    print("The name of the bird is",name)
  def fun(self,name):
    print("The name of the animal is",name)
    print("The year of the animal is",Animal.__privatevariable)
    self.__fun1("Sparrow")
class Animal1:
  def newone(self,name):
     print("The name of the animal1 is",name)
class Animal2:
  def newone2(self,name):
     print("The name of the animal2 is",name)
class Derived(Animal,Animal1,Animal2):
     def action(self,a,b):
      return a+b
d=Derived()
d.fun("Lion")

In [ ]:
class mainclass:
    __private=2020;
    def __privateMethod(self):
        print("I'm inside the class")
    def inside(self):
        print("Private Output: ",mainclass.__private)
call = mainclass()
call.inside()
call.__privateMethod() #The error will occurs as 'mainclass" object has no attribute '__private'

Private Output:  2020

AttributeError: ignored

In [ ]:
class Student:
  def fun(self,name):
    pass
d=Student()
d.fun("How are you?")
d.name="Kavi"
d.age=20
print(d.age)

20

In [ ]:
#iterator
arr=[3,6,8,10]
for x in arr:
  print(x)

3
6
8
10

In [ ]:
arr1={"name":'Kaviarasu',"age":20}
for key in arr1:
  print(key)

name
age

In [ ]:
arr1={'Kaviarasu',20}
for value in enumerate(arr1):
  print(value)

(0, 20)
(1, 'Kaviarasu')

In [ ]:
arr1={"name":'Kaviarasu',"age":20}
x=arr1.keys()
print(x)

dict_keys(['name', 'age'])

In [ ]:
arr1={"name":'Kaviarasu',"age":20}
x=arr1.values()
print(x)

dict_values(['Kaviarasu', 20])

In [ ]:
arr=[2,3,4,5,6,7,8]
arr1=iter(arr)
print(next(arr1))
print(next(arr1))
print(next(arr1))
print(next(arr1))
print(next(arr1))
print(next(arr1))
print(next(arr1))
print(next(arr1))  #If more than next given, the error will be "StopItertion"

In [ ]:
if 1 in [1,2,3]:
    print('List')
if 4 not in {1,2,3}:
    print('Tuple')
if 'apple' in 'pineapple':
    print('String')

List
Tuple
String

In [ ]:
#Generators
def simple():
    yield 1           
    yield 2           
    yield 3           
  
x=simple()
print(next(x))
print(next(x))
print(next(x))

1
2
3

In [ ]:
def value(n):
 value=0;
 while(value<n):
   yield "Hi this is my content",value
   value+=1              
x=value(5)
print(next(x))
print(next(x))
print(next(x))
print(next(x))

('Hi this is my content', 0)
('Hi this is my content', 1)
('Hi this is my content', 2)
('Hi this is my content', 3)

In [ ]:
x=sum(x*x for x in range(10))
print(x)

285

In [ ]:
x=sum(x*x for x in range(10,20,2))
print(x)

1020

In [ ]:
first=[1,2,3]
second=[5,6,7]
pin=sum(x*y for x,y in zip(first,second))
print(pin)

355816800

In [ ]:
x=20
y=30
k=max(x,y)
print(k)

30

In [107]:
num = 10
if num in range(1, 11):
    print("The number is within the range of 1 to 10")
else:
    print("The number is outside the range of 1 to 10")

The number is within the range of 1 to 10

In [108]:
#issuperset
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set={1, 2, 3, 4, 5}
print(union_set.issuperset(set1))
print(union_set.issuperset(set2))

True
True

In [110]:
#union of two sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [111]:
#intersection
intersection_set = set1.intersection(set2)
print(intersection_set)

{3}

In [112]:
# difference
difference_set = set1.difference(set2)
print(difference_set)

{1, 2}

In [113]:
#symmetric difference(omits intersection)
symmetric_difference_set = set1.symmetric_difference(set2)
print(symmetric_difference_set)

{1, 2, 4, 5}

In [114]:
#String methods
my_string = "   Hello, World!   "
print(my_string.strip())        
print(my_string.upper())         
print(my_string.lower())         
print(my_string.replace("l", "x")) 
print(my_string.split(","))

Hello, World!
   HELLO, WORLD!
   hello, world!
   Hexxo, Worxd!
['   Hello', ' World!   ']

In [115]:
#String length
s = 'supercalifragilisticexpialidocious'
len(s)

34

In [121]:
#sets
# creating a set
my_set = {1, 2, 3, 4}
# add
my_set.add(5)
print(my_set)

{1, 2, 3, 4, 5}

In [117]:
# remove
my_set = {1, 2, 3, 4,5}
my_set.remove(4)
print(my_set)

{1, 2, 3, 5}

In [118]:
# checking if an element is in a set
print(3 in my_set) 
print(4 in my_set)

True
False

In [119]:
#length
my_set = {1, 2, 3, 5}
print(len(my_set))

4

In [120]:
# copy
my_set = {1, 2, 3, 5}
new_set = my_set.copy()
print(new_set)

{1, 2, 3, 5}

In [ ]:
# clear
my_set = {1, 2, 3, 5}
my_set.clear()
print(my_set)

In [129]:
for i in range(10):
        try:
           x = int(input("Enter the number"))
           break
        except ValueError:
           print("It's not a valid number.Try again...")

Enter the numberdfs
It's not a valid number.Try again...
Enter the number
It's not a valid number.Try again...
Enter the numbergfhfd
It's not a valid number.Try again...
Enter the numberfrgf
It's not a valid number.Try again...
Enter the numbergfhfd
It's not a valid number.Try again...
Enter the numberfgdf
It's not a valid number.Try again...
Enter the numbergfdgfd
It's not a valid number.Try again...
Enter the numbergdfg
It's not a valid number.Try again...
Enter the numberdgfg
It's not a valid number.Try again...
Enter the numberdgdg
It's not a valid number.Try again...

In [131]:
try:
    numerator = 5
    denominator = 0
    result = numerator/denominator
    print(result)
except:
    print("Error:") 
finally:
    print("This is final statement.")

Error:

In [134]:
try:
    evennum=[2,4,6,8]
    print(evennum[5])
except (RuntimeError, TypeError, NameError,ZeroDivisionError):
     pass
except IndexError:
    print("Index out of range.")

Index out of range.

In [136]:
try:
    num = int(input("Enter the number: "))
    assert num%2 == 0
except:
    print("Not an even number!")
else:
    reciprocal = 1/num
    print(reciprocal)

Enter the number: 55
Not an even number!