<a href="https://colab.research.google.com/github/KAVIARASU0505/Python/blob/main/Day4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x=[1,2,3]
for i in x:
   pass

In [ ]:
#defining Function - Fibonacci series
def fun(n):
     a, b=1, 2
     while a < n:
        a=b
        b=a+b
        if n<=a+b:
          print(a)
        else:
          print(a,end=" ")
fun(1000)

2 4 8 16 32 64 128 256 512
1024

In [ ]:
def fun1(n):
     newarr=[]
     a, b=1, 2
     while a < n:
        a=b
        b=a+b
        newarr.append(a)
     return newarr
fun=fun1(200)
print(fun)

[2, 4, 8, 16, 32, 64, 128, 256]

In [ ]:
def new(uinput,retries=2,fail='Try after some times!'):
  for i in range(10):
   inp=input(uinput)
   if inp in ('y','yes','yeah'):
     return True
   if inp in ('no','n','nothing'):
     return False
   retries=retries-1
   if (retries < 0):
      raise ValueError('Invalid User')
   print(fail)
new('Are you okay?')

Are you okay?y

True

In [ ]:
i=10
def new(s=i):
  print(s)
i=20
new()

10

In [ ]:
def l(a,l=[]):
  l.append(a)
  return l
print(l(1))
print(l(6))
print(l(4))

[1]
[1, 6]
[1, 6, 4]

In [ ]:
def l(a,l=None):
  if l is None:
     l=[]
  l.append(a)
  return l
print(l(1))
print(l(6))
print(l(4))

[1]
[6]
[4]

In [ ]:
def animal(name,year="1999",Behaviour="Not Worthy",state="Worth"):
  print("The name of the animal is",name,end="\n")
  print("The year is ",year,end="\n")
  print("The Behaviour of the animal is",Behaviour,end="\n")
  print("The state of the animal is",state,end="\n\n\n\n")
print(animal("Lion","1977")) 
print(animal("Tiger","1978",Behaviour="Not Bad",state="Not Worthy"))
print(animal("Kangaroo","1985",Behaviour="Good",state="Worthy"))
print(animal(name="None"))

The name of the animal is Lion
The year is  1977
The Behaviour of the animal is Not Worthy
The state of the animal is Worth



None
The name of the animal is Tiger
The year is  1978
The Behaviour of the animal is Not Bad
The state of the animal is Not Worthy



None
The name of the animal is Kangaroo
The year is  1985
The Behaviour of the animal is Good
The state of the animal is Worthy



None
The name of the animal is None
The year is  1999
The Behaviour of the animal is Not Worthy
The state of the animal is Worth



None

In [ ]:
def fun(new,*val,**vals):
  print("Here is Your",new)
  print("The "+new+" is worthy")
  print('_'*60)
  print("Remaining will be printed")
  for arg in val:
    print(arg)
  for args in vals:
    print(args +":"+vals[args])
fun("document","Remaining will be printed","Remaining will be printed",name="kavi",age="21",year="2002")

Here is Your document
The document is worthy
____________________________________________________________
Remaining will be printed
Remaining will be printed
Remaining will be printed
name:kavi
age:21
year:2002

In [ ]:
def fun(n,/):
  print(n)
fun(1)

1

In [ ]:
def new1(arg,/):#Not keywords are allowed
  print(arg)
def new2(*,arg): #Keywords only allowed
  print(arg)
def new3(arg,/,*,arg1):
  print("The arg is",arg+" "+"The keyword is ",arg1)
new1("Kavi")
new2(arg="kavi")
new3("Kavi",arg1="kavi")

Kavi
kavi
The arg is Kavi The keyword is  kavi

In [ ]:
def fun(name,/,**kwds):
   return 'val' in kwds
fun('kavi',**{'val': 2})

True

In [ ]:
def numbers(*args,sp='/'):
  return sp.join(args)
numbers('one','two','three')

'one/two/three'

In [ ]:
set(range(10))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
arr=[3,9]
list(range(*arr))

[3, 4, 5, 6, 7, 8]

In [ ]:
add=lambda num:num+5
add(5)

10

In [ ]:
def increment(v):
  return lambda y:y+v
f=increment(5)
f(10)

15

In [ ]:
n=5
while(n>0):
  print(n)
  n=n-1

5
4
3
2
1

In [ ]:
a=['arr','arr1','arr3']
while a:
  print(a.pop(-1))

arr3
arr1
arr

In [ ]:
a=10
while a>0:
  if a==5:
    a=a-1
    continue
  else:
    print(a)
    a=a-1

10
9
8
7
6
4
3
2
1

In [ ]:
a=100
while a>0:
  if a==50:
    break
  else:
    print(a,end=" ")
    a=a-1

100 99 98 97 96 95 94 93 92 91 90 89 88 87 86 85 84 83 82 81 80 79 78 77 76 75 74 73 72 71 70 69 68 67 66 65 64 63 62 61 60 59 58 57 56 55 54 53 52 51

In [ ]:
a=30
while a>0:
 print(a,end=" ")
 a=a-4
else:
    print("\n")
    print("The Loop is Over.")

30 26 22 18 14 10 6 2

The Loop is Over.

In [ ]:
a=30
while a>0:
 print(a,end=" ")
 a=a-4
 if a==18:
   break
else:  #The else condition is not performed because already break achieves in the while loop.
    print("\n")
    print("The Loop is Over.")

30 26 22