<a href="https://colab.research.google.com/github/KAVIARASU0505/Python/blob/main/Day8/Day8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x = -10
if x > 0:
  raise TypeError("Sorry, The number is greater")

In [ ]:
import re
txt = "The rain in Spain"
x = re.search("^The.*Spain$", txt) 
if x:
  print("It matched")
else:
  print("Not matched")

Not matched

In [ ]:
import re
op='How are you?'
x=re.findall("[a-s]",op)
print(x)

['o', 'a', 'r', 'e', 'o']

In [ ]:
import re
op='The amount of the apple is 39.4 and 23'
x=re.findall("\d",op)
print(x)

['3', '9', '4', '2', '3']

In [ ]:
import re
op='The amount of the apple is 39 and 23'
x=re.findall("a..unt",op)
print(x)

['amount']

In [ ]:
import re
op='The amount of the apple is 39 and 23'
x=re.findall("^The",op)
if x:
  print("True")
else:
  print("False")

True

In [ ]:
import re
op='The amount of the apple is 39 and'
x=re.findall("and$",op)
if x:
  print("True")
else:
  print("False")

True

In [ ]:
import re
txt = "World hello welcomeo"
x = re.findall("he.*o", txt)
print(x)

['hello welcomeo']

In [ ]:
import re
txt = "hellho planeto"
x = re.findall("he.{3}o", txt)
print(x)

['hellho']

In [ ]:
import re
txt = "Dont judge the book by its cover"
x = re.findall("\ADont", txt)
if x:
  print("Matched")
else:
  print("Not Matched")

Matched

In [ ]:
import re
txt = "Dont judge the book by its cover"
x = re.findall(r"\bDo", txt)
if x:
  print("Matched")
else:
  print("Not Matched")

Matched

In [ ]:
import re

txt = " rks books are good and the books are comedy"

x = re.findall(r"\Bks", txt)
print(x)
if x:
  print("Matched")
else:
  print("Not Matched")

['ks', 'ks', 'ks']
Matched

['ain', 'ain']
Yes, there is at least one match!

In [ ]:
import re

txt = "books are good and the books are comedy and the price of the book is 50."

x = re.findall(r"\d", txt)
print(x)
if x:
  print("Matched")
else:
  print("Not Matched")

['5', '0']
Matched

In [ ]:
import re

txt = "books are good and the books are comedy and the price of the book is 50."

x = re.findall(r"\D", txt)
print(x)
if x:
  print("Matched")
else:
  print("Not Matched")

['b', 'o', 'o', 'k', 's', ' ', 'a', 'r', 'e', ' ', 'g', 'o', 'o', 'd', ' ', 'a', 'n', 'd', ' ', 't', 'h', 'e', ' ', 'b', 'o', 'o', 'k', 's', ' ', 'a', 'r', 'e', ' ', 'c', 'o', 'm', 'e', 'd', 'y', ' ', 'a', 'n', 'd', ' ', 't', 'h', 'e', ' ', 'p', 'r', 'i', 'c', 'e', ' ', 'o', 'f', ' ', 't', 'h', 'e', ' ', 'b', 'o', 'o', 'k', ' ', 'i', 's', ' ', '.']
Matched

In [ ]:
import re

txt = "books are good and the books are comedy and the price of the book is 50."

x = re.findall(r"[abc]", txt)
print(x)

['b', 'a', 'a', 'b', 'a', 'c', 'a', 'c', 'b']

In [ ]:
import re

txt = "books are good and the books are comedy and the price of the book is 50."

x = re.findall(r"[a-n]", txt)
print(x)

['b', 'k', 'a', 'e', 'g', 'd', 'a', 'n', 'd', 'h', 'e', 'b', 'k', 'a', 'e', 'c', 'm', 'e', 'd', 'a', 'n', 'd', 'h', 'e', 'i', 'c', 'e', 'f', 'h', 'e', 'b', 'k', 'i']

In [ ]:
import re

txt = "books are good and the books are comedy and the price of the book is 50."

x = re.findall(r"[^a-n]", txt)
print(x)

['o', 'o', 's', ' ', 'r', ' ', 'o', 'o', ' ', ' ', 't', ' ', 'o', 'o', 's', ' ', 'r', ' ', 'o', 'y', ' ', ' ', 't', ' ', 'p', 'r', ' ', 'o', ' ', 't', ' ', 'o', 'o', ' ', 's', ' ', '5', '0', '.']

In [ ]:
import re

txt = "books are good and + the books are comedy + and the price of + the book is 50."

x = re.findall("[+]", txt)
print(x)
if x:
  print("Matched")
else:
  print("Not Matched")

['+', '+', '+']
Matched

In [ ]:
import re

txt = "books are good and the books are comedy and the price of the book is 50."

x = re.findall("the", txt)
print(x)
if x:
  print("Matched")
else:
  print("Not Matched")

['the', 'the', 'the']
Matched

In [ ]:
import re
x="Wonderful days in the world"
y=re.search("\s",x)
print("The output is:",y.start())
print("The end index is:",y.end())

The output is: 9
The end index is: 10

In [ ]:
"import re
x="Wonderful days in the world"
y=re.split("\s",x)
print(y)

['Wonderful', 'days', 'in', 'the', 'world']

In [ ]:
import re
x="Wonderful days in the world"
y=re.split("d",x,3)
print(y)

['Won', 'erful ', 'ays in the worl', '']

In [ ]:
import re
x="Wonderful days in the world"
y=re.sub("\s","&",x)
print(y)

Wonderful&days&in&the&world

In [ ]:
import re
x="Wonderful                                               days in the world"
y=re.sub("\s","&^",x)
print(y)

Wonderful&^&^&^&^&^&^&^&^&^&^&^&^&^&^&^&^&^&^&^&^&^&^&^&^&^&^&^&^&^&^&^&^&^&^&^&^&^&^&^&^&^&^&^&^&^&^&^days&^in&^the&^world

In [ ]:
import re
x="Wonderful days in the world"
y=re.sub("\s","&",x,2)
print(y)

Wonderful&days&in the world

In [ ]:
import re
x="Wonderful days in the world"
y=re.sub("\s","&",x,1)
print(y)

Wonderful&days in the world

In [ ]:
import re
x="Wonderful days in the world"
y=re.search(r"\bd",x)
print(y.span())

(10, 11)

In [ ]:
import re
x="Wonderful days in the world days"
y=re.search(r"\bd\w+",x)
print(y.group())

days

In [ ]:
assert sum([ 2, 3, 5]) == 10

In [ ]:
assert sum([ 2,5, 3, 5]) == 10,"It is not same"

In [ ]:
x=lambda x: x + 1
x(5)

6

In [ ]:
(lambda x: x + 1)(5)

6

In [ ]:
Name = lambda first, last: f'The Name is: {first}{last}'
Name('Kavi','arasu')

'The Name is: Kaviarasu'

In [ ]:
l1=[1,2,3,4,5]
l2=[]
for i in l1:
  x=lambda i:i*2
  l2.append(x(i))
print(l2)

[2, 4, 6, 8, 10]

In [ ]:
x=lambda x, y: x + y
x(5,5)

10

In [1]:
(lambda x, y, z=3: x + y + z)(1, 2)

6

In [3]:
def myfun(*argv):
    for arg in argv:
        print(arg)
myfun('Hello','How are you?','Good')

Hello
How are you?
Good

In [4]:
def fun(**kwargs):
  for key,value in kwargs.items():
    print("%s + %s = output"%(key,value))
fun(one="Value1",two="value2",three="value3")

one + Value1 = output
two + value2 = output
three + value3 = output

In [21]:
def fun1(*args):
  for i in args:
    print(i)
def fun2(**kwargs):
  for key,value in kwargs.items():
    print(key,value)
fun1("value1","value2","value3")
fun2(Age="25",Age2="20",Age3="30")

value1
value2
value3
Age 25
Age2 20
Age3 30

In [20]:
def one(name):
  return f"Hi {name}"
def Two(name):
  return f"Hi and {name}"
def three(name):
  return name("Kavi")
three(one)
three(Two)

'Hi and Kavi'

In [28]:
def parent(n):
   print("This is the first content")
   def one(name):
     return f"Hi {name}"
   def Two(name):
     return f"Hi and {name}"
   def three(name):
     return name("Kavi")
   if n==1:
     return Two("Ram")
   else:
     return one("Kavi")
parent(1)

This is the first content

'Hi and Ram'

In [26]:
def parent():
   print("This is the first content")
   def one(name):
     return f"Hi {name}"
   def Two(name):
     return f"Hi and {name}"
   def three(name):
     return name("Kavi")
   three(one)
   three(Two)
parent()

This is the first content

In [33]:
def functioexec(func):
    def caller():
        print("This is the first content")
        func()
        print("This is the second content")
    return caller
def function():
    print("Newone")
fun = functioexec(function)
fun()

This is the first content
Newone
This is the second content

In [39]:
def functionexec(func):
    def caller():
        print("This is the first content")
        func()
        print("This is the second content")
    return caller
@functionexec
def function():
    print("Newone")
function()

This is the first content
Newone
This is the second content